body {
  background: #F9F0E0 url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: 100%;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #D88695;
    font-family: 'Josefin Sans', sans-serif;
}

a {
  color: #D88695;
}

a:hover {
  color: #5D9688;
}

@font-face {
  font-family:BS;
  src: url("./font/BlingtasticScript.ttf"); /* TTF file for CSS3 browsers */
  font-weight: bold;
}



/* GRID SYSTEM */
.grid-container {
  width : 100%;
  max-width : 1200px;
}

.row:before,
.row:after {
  content:"";
  display: table ;
  clear:both;
}

[class*='column-'] {
  float: left;
  min-height: 1px;
}
/*
[class*='column-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
}*/

[class*='col-'] {
  float: left;
  min-height: 1px;
}

.column-1{
  width: 8.33%;
}
.column-2{
  width: 16.66%;
}
.column-3{
  width: 25%;
}
.column-4{
  width: 33.33%;
}
.column-5{
  width: 41.66%;
}
.column-6{
  width: 50%;
}
.column-7{
  width: 58.33%;
}
.column-8{
  width: 66.66%;
}
.column-9{
  width: 75%;
}
.column-10{
  width: 83.33%;
}
.column-11{
  width: 91.66%;
}
.column-12{
  width: 100%;
}

.column-offset-1 {
  width: 8.33%;
}

.column-offset-3 {
  width: 25%;
}

.column-offset-4 {
  width: 33.33%;
}

.column-offset-5 {
  width: 41.66%;
}

.grid-container *{
  box-sizing: border-box;
}
/*
[class*='column-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  padding: 12px;
}*/

/* RESPONSIVE */

/*
  ##Device = Desktops
  ##Screen = 1440px to higher resolution desktops
*/

@media (min-width: 1440px) {
  .parallax {
      /* The image used */
      background-image: url("image/cPhoto2.jpg");

      /* Set a specific height */
      height: 550px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .row {
    width: 100%;
    margin: 0px;
  }

  .menubar {
    background-color: #F9F0E0;
    height: 6%;
    width: 100%;
    position: fixed;
    display: block;
    top: 0px;
  }

  .menu {
    background-color: #F9F0E0;
    display : flex;
    align-items : center;
    height: 100%;
    top: 0px;
  }

  .glyphicon-heart {
      font-size: 15px;
      padding-left: 1%;
      padding-right: 1%;
  }

  .glyphicon-thumbs-up {
      font-size: 20px;
  }

  .tab {
    color: #D88695;
    display: block;
    font-size: 200%;
    padding-top: 1%;
  }

  .tabSpace {
    padding-right: 10px;
    padding-left: 10px;
  }

  .sideFlower {
    padding-top: 1%;
  }

  .info {
    font-size: 300%;
    height: 60%;
    width: 100%;
  }

  .infoContent {
    padding-top: 2%;
  }

  .map {
    height: 60%;
  }

  .comingSoon {
    padding-top: 25%;
    font-family: BS;
    font-size: 300%;
  }

  .gradient_one {
      border: 0;
      height: 1px;
      width: 25%;
      background: #5D9688;
      background-image: -webkit-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -moz-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -ms-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -o-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
  }

  .rsvp {
    height: 100%;
    font-size: 200%;
    font-family: 'Bad Script', cursive;
  }

  .attire {
    height: 100%;
    font-size: 100%;
    font-family: 'Euphoria Script', cursive;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5D9688;
    border: none;
    color: #F9F0E0;
    text-align: center;
    font-size: 30%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    width: 10%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20%;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 30%;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .countdown {
    font-family: BS;
    color: #D88695;
    text-align: center;
    font-size: 300%;
    padding: 5%;
  }

  .clock {
    font-size: 400%;
  }

  .centre {
    text-align: center;
  }

  .day {
    text-align: right;
  }

  .hour {
    text-align: center;
  }

  .minute {
    text-align: left;
  }

  .mainTitle {
    font-size: 200%;
  }

  .glyphicon-heart-empty {
    font-size: 20px;
  }

  .faqContent {
    font-size: 300%;
    height: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .question {
    font-size: 100%;
    font-weight: bold;
  }

  .answer {
    font-size: 80%;
  }

  .glyphicon-chevron-right {
    font-size: 15px;
    padding-left: 50%;
  }

  .hisStory {
    font-family: BS, cursive;
    font-size: 300%;
  }

  .herStory {
    font-family: BS, cursive;
    font-size: 300%;
  }

  .his {
    padding-left: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .her {
    padding-right: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .story {
    padding-bottom: 3%;
  }

  .storySub {
    border-radius: 50px;
    border-width: 3px;
    border-style:solid;
    border-color: #D88695
    padding: 20px;
    width: 50%;
  }

  .heart {
    font-size: 50px;
  }
}

/*
  ##Device = Desktops + IpadPro
  ##Screen = 1366px to 1439px
*/

@media (min-width: 1366px) and (max-width: 1439px) {
  .parallax {
      /* The image used */
      background-image: url("image/cPhoto2.jpg");

      /* Set a specific height */
      height: 600px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
  }

  .row {
    width: 100%;
    margin: 0px;
  }

  .menubar {
    background-color: #F9F0E0;
    height: 10%;
    width: 100%;
    position: fixed;
    display: block;
    top: 0px;
    font-size: 200%;
    padding-top: 1%;
  }

  .menu {
    background-color: #F9F0E0;
    display : flex;
    align-items : center;
    height: 100%;
    top: 0px;
  }

  .glyphicon-heart {
      font-size: 25px;
      padding-left: 1%;
      padding-right: 1%;
  }

  .glyphicon-thumbs-up {
      font-size: 20px;
  }

  .tab {
    color: #D88695;
    display: block;
    font-size: 200%;
    padding-top: 1%;
  }

  .tabSpace {
    padding-right: 10px;
    padding-left: 10px;
  }

  .sideFlower {
    padding-top: 1%;
  }

  .info {
    font-size: 300%;
    height: 50%;
    width: 100%;
  }

  .infoContent {
    padding-top: 2%;
  }

  .map {
    height: 60%;
  }

  .comingSoon {
    padding-top: 25%;
    font-family: BS;
    font-size: 300%;
  }

  .gradient_one {
      border: 0;
      height: 1px;
      width: 25%;
      background: #5D9688;
      background-image: -webkit-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -moz-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -ms-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -o-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
  }

  .rsvp {
    height: 100%;
    font-size: 200%;
    font-family: 'Bad Script', cursive;
  }

  .attire {
    height: 100%;
    font-size: 100%;
    font-family: 'Euphoria Script', cursive;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5D9688;
    border: none;
    color: #F9F0E0;
    text-align: center;
    font-size: 30%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    width: 10%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20%;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 30%;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .countdown {
    font-family: BS;
    color: #D88695;
    text-align: center;
    font-size: 300%;
    padding: 5%;
  }

  .clock {
    font-size: 400%;
  }

  .centre {
    text-align: center;
  }

  .day {
    text-align: right;
  }

  .hour {
    text-align: center;
  }

  .minute {
    text-align: left;
  }

  .mainTitle {
    font-size: 200%;
  }

  .glyphicon-heart-empty {
    font-size: 20px;
  }

  .faqContent {
    font-size: 300%;
    height: 100%;
    padding-top: 5%;
  }

  .question {
    font-size: 100%;
    font-weight: bold;
  }

  .answer {
    font-size: 80%;
  }

  .glyphicon-chevron-right {
    font-size: 15px;
    padding-left: 50%;
  }

  .hisStory {
    font-family: BS, cursive;
    font-size: 300%;
  }

  .herStory {
    font-family: BS, cursive;
    font-size: 300%;
  }

  .his {
    padding-left: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .her {
    padding-right: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .story {
    padding-bottom: 3%;
  }

  .storySub {
    border-radius: 50px;
    border-width: 3px;
    border-style:solid;
    border-color: #D88695
    padding: 20px;
    width: 50%;
  }

  .heart {
    font-size: 50px;
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to 1365px
*/

@media (min-width: 1281px) and (max-width: 1365px) {
  .parallax {
      /* The image used */
      background-image: url("image/cPhoto2.jpg");

      /* Set a specific height */
      height: 550px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .row {
    width: 100%;
    margin: 0px;
  }

  .menubar {
    background-color: #F9F0E0;
    height: 6%;
    width: 100%;
    position: fixed;
    display: block;
    top: 0px;
  }

  .menu {
    background-color: #F9F0E0;
    display : flex;
    align-items : center;
    height: 100%;
    top: 0px;
  }

  .glyphicon-heart {
      font-size: 15px;
      padding-left: 1%;
      padding-right: 1%;
  }

  .glyphicon-thumbs-up {
      font-size: 20px;
  }

  .tab {
    color: #D88695;
    display: block;
    font-size: 200%;
    padding-top: 1%;
  }

  .tabSpace {
    padding-right: 10px;
    padding-left: 10px;
  }

  .sideFlower {
    padding-top: 1%;
  }

  .info {
    font-size: 300%;
    height: 60%;
    width: 100%;
  }

  .infoContent {
    padding-top: 2%;
  }

  .map {
    height: 60%;
  }

  .comingSoon {
    padding-top: 25%;
    font-family: BS;
    font-size: 300%;
  }

  .gradient_one {
      border: 0;
      height: 1px;
      width: 25%;
      background: #5D9688;
      background-image: -webkit-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -moz-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -ms-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -o-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
  }

  .rsvp {
    height: 100%;
    font-size: 200%;
    font-family: 'Bad Script', cursive;
  }

  .attire {
    height: 100%;
    font-size: 100%;
    font-family: 'Euphoria Script', cursive;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5D9688;
    border: none;
    color: #F9F0E0;
    text-align: center;
    font-size: 30%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    width: 10%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20%;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 30%;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .countdown {
    font-family: BS;
    color: #D88695;
    text-align: center;
    font-size: 300%;
    padding: 5%;
  }

  .clock {
    font-size: 400%;
  }

  .centre {
    text-align: center;
  }

  .day {
    text-align: right;
  }

  .hour {
    text-align: center;
  }

  .minute {
    text-align: left;
  }

  .mainTitle {
    font-size: 200%;
  }

  .glyphicon-heart-empty {
    font-size: 20px;
  }

  .faqContent {
    font-size: 300%;
    height: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .question {
    font-size: 100%;
    font-weight: bold;
  }

  .answer {
    font-size: 80%;
  }

  .glyphicon-chevron-right {
    font-size: 15px;
    padding-left: 50%;
  }

  .hisStory {
    font-family: BS, cursive;
    font-size: 300%;
  }

  .herStory {
    font-family: BS, cursive;
    font-size: 300%;
  }

  .his {
    padding-left: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .her {
    padding-right: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .story {
    padding-bottom: 3%;
  }

  .storySub {
    border-radius: 50px;
    border-width: 3px;
    border-style:solid;
    border-color: #D88695
    padding: 20px;
    width: 50%;
  }

  .heart {
    font-size: 50px;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .parallax {
      /* The image used */
      background-image: url("image/cPhoto2.jpg");

      /* Set a specific height */
      height: 500px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .row {
    width: 100%;
    margin: 0px;
  }

  .menubar {
    background-color: #F9F0E0;
    height: 7%;
    width: 100%;
    position: fixed;
    display: block;
    top: 0px;
  }

  .menu {
    background-color: #F9F0E0;
    display : flex;
    align-items : center;
    height: 100%;
    top: 0px;
  }

  .glyphicon-heart {
      font-size: 15px;
      padding-left: 1%;
      padding-right: 1%;
  }

  .glyphicon-thumbs-up {
      font-size: 20px;
  }

  .tab {
    color: #D88695;
    display: block;
    font-size: 200%;
    padding-top: 1%;
  }

  .tabSpace {
    padding-right: 10px;
    padding-left: 10px;
  }

  .sideFlower {
    padding-top: 1%;
  }

  .info {
    font-size: 300%;
    height: 62%;
    width: 100%;
  }

  .infoContent {
    padding-top: 2%;
  }

  .map {
    height: 62%;
  }

  .comingSoon {
    padding-top: 25%;
    font-family: BS;
    font-size: 300%;
  }

  .gradient_one {
      border: 0;
      height: 1px;
      width: 25%;
      background: #5D9688;
      background-image: -webkit-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -moz-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -ms-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -o-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
  }

  .rsvp {
    height: 100%;
    font-size: 200%;
    font-family: 'Bad Script', cursive;
  }

  .attire {
    height: 100%;
    font-size: 100%;
    font-family: 'Euphoria Script', cursive;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5D9688;
    border: none;
    color: #F9F0E0;
    text-align: center;
    font-size: 30%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    width: 10%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20%;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 30%;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .countdown {
    font-family: BS;
    color: #D88695;
    text-align: center;
    font-size: 300%;
    padding: 5%;
  }

  .clock {
    font-size: 400%;
  }

  .centre {
    text-align: center;
  }

  .day {
    text-align: right;
  }

  .hour {
    text-align: center;
  }

  .minute {
    text-align: left;
  }

  .mainTitle {
    font-size: 200%;
  }

  .glyphicon-heart-empty {
    font-size: 20px;
  }

  .faqContent {
    font-size: 300%;
    height: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .question {
    font-size: 100%;
    font-weight: bold;
  }

  .answer {
    font-size: 80%;
  }

  .glyphicon-chevron-right {
    font-size: 15px;
    padding-left: 50%;
  }

  .hisStory {
    font-family: BS, cursive;
    font-size: 300%;
  }

  .herStory {
    font-family: BS, cursive;
    font-size: 300%;
  }

  .his {
    padding-left: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .her {
    padding-right: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .story {
    padding-bottom: 3%;
  }

  .storySub {
    border-radius: 50px;
    border-width: 3px;
    border-style:solid;
    border-color: #D88695
    padding: 20px;
    width: 50%;
  }

  .heart {
    font-size: 50px;
  }
}

/*
  ##Device = Tablets, Ipads Pro (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 992px) and (max-width: 1024px) and (orientation: portrait) {
  .parallax {
      /* The image used */
      background-image: url("image/cPhoto2.jpg");

      /* Set a specific height */
      height: 800px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
  }

  .row {
    width: 100%;
    margin: 0px;
  }

  .menubar {
    background-color: #F9F0E0;
    height: 9%;
    width: 100%;
    position: fixed;
    display: block;
    top: 0px;
    padding-top: 2%;
    font-size: 200%;
  }

  .menu {
    background-color: #F9F0E0;
    display : flex;
    align-items : center;
    height: 100%;
    top: 0px;
  }

  .glyphicon-heart {
      font-size: 25px;
      padding-left: 1%;
      padding-right: 1%;
  }

  .glyphicon-thumbs-up {
      font-size: 20px;
  }

  .tab {
    color: #D88695;
    display: block;
    font-size: 200%;
    padding-top: 1%;
  }

  .tabSpace {
    padding-right: 10px;
    padding-left: 10px;
  }

  .sideFlower {
    padding-top: 5%;
  }

  .info {
    font-size: 300%;
    height: 43%;
    width: 100%;
  }

  .infoContent {
    padding-top: 5%;
  }

  .map {
    height: 60%;
  }

  .comingSoon {
    padding-top: 25%;
    font-family: BS;
    font-size: 300%;
  }

  .gradient_one {
      border: 0;
      height: 1px;
      width: 25%;
      background: #5D9688;
      background-image: -webkit-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -moz-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -ms-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -o-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
  }

  .rsvp {
    height: 100%;
    font-size: 200%;
    font-family: 'Bad Script', cursive;
  }

  .attire {
    height: 100%;
    font-size: 100%;
    font-family: 'Euphoria Script', cursive;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5D9688;
    border: none;
    color: #F9F0E0;
    text-align: center;
    font-size: 30%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20%;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 30%;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .countdown {
    font-family: BS;
    color: #D88695;
    text-align: center;
    font-size: 300%;
    padding: 5%;
  }

  .clock {
    font-size: 400%;
  }

  .centre {
    text-align: center;
  }

  .day {
    text-align: right;
  }

  .hour {
    text-align: center;
  }

  .minute {
    text-align: left;
  }

  .mainTitle {
    font-size: 200%;
  }

  .glyphicon-heart-empty {
    font-size: 20px;
  }

  .faqContent {
    font-size: 300%;
    height: 80%;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .question {
    font-size: 100%;
    font-weight: bold;
  }

  .answer {
    font-size: 80%;
  }

  .glyphicon-chevron-right {
    font-size: 15px;
    padding-left: 50%;
  }

  .hisStory {
    font-family: BS, cursive;
    font-size: 200%;
  }

  .herStory {
    font-family: BS, cursive;
    font-size: 200%;
  }

  .his {
    padding-left: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .her {
    padding-right: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .story {
    padding-bottom: 3%;
  }

  .storySub {
    border-radius: 50px;
    border-width: 3px;
    border-style:solid;
    border-color: #D88695
    padding: 20px;
    width: 60%;
  }

  .heart {
    font-size: 30px;
  }
}

/*
  ##Device = Tablets, Ipads Pro (portrait)
  ##Screen = B/w 768px to 992px
*/

@media (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  .parallax {
      /* The image used */
      background-image: url("image/cPhoto2.jpg");

      /* Set a specific height */
      height: 600px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
  }

  .row {
    width: 100%;
    margin: 0px;
  }

  .menubar {
    background-color: #F9F0E0;
    height: 8%;
    width: 100%;
    position: fixed;
    display: block;
    top: 0px;
    padding-top: 2%;
    font-size: 150%;
  }

  .menu {
    background-color: #F9F0E0;
    display : flex;
    align-items : center;
    height: 100%;
    top: 0px;
  }

  .glyphicon-heart {
      font-size: 25px;
      padding-left: 1%;
      padding-right: 1%;
  }

  .glyphicon-thumbs-up {
      font-size: 20px;
  }

  .tab {
    color: #D88695;
    display: block;
    font-size: 200%;
    padding-top: 1%;
  }

  .tabSpace {
    padding-right: 10px;
    padding-left: 10px;
  }

  .sideFlower {
    padding-top: 5%;
  }

  .info {
    font-size: 300%;
    height: 65%;
    width: 100%;
  }

  .infoContent {
    padding-top: 5%;
  }

  .map {
    height: 60%;
  }

  .comingSoon {
    padding-top: 25%;
    font-family: BS;
    font-size: 300%;
  }

  .gradient_one {
      border: 0;
      height: 1px;
      width: 25%;
      background: #5D9688;
      background-image: -webkit-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -moz-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -ms-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -o-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
  }

  .rsvp {
    height: 100%;
    font-size: 200%;
    font-family: 'Bad Script', cursive;
  }

  .attire {
    height: 100%;
    font-size: 100%;
    font-family: 'Euphoria Script', cursive;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5D9688;
    border: none;
    color: #F9F0E0;
    text-align: center;
    font-size: 30%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    width: 25%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20%;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 30%;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .countdown {
    font-family: BS;
    color: #D88695;
    text-align: center;
    font-size: 300%;
    padding: 5%;
  }

  .clock {
    font-size: 400%;
  }

  .centre {
    text-align: center;
  }

  .day {
    text-align: right;
  }

  .hour {
    text-align: center;
  }

  .minute {
    text-align: left;
  }

  .mainTitle {
    font-size: 200%;
  }

  .glyphicon-heart-empty {
    font-size: 20px;
  }

  .faqContent {
    font-size: 300%;
    height: 80%;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .question {
    font-size: 100%;
    font-weight: bold;
  }

  .answer {
    font-size: 80%;
  }

  .glyphicon-chevron-right {
    font-size: 15px;
    padding-left: 50%;
  }

  .hisStory {
    font-family: BS, cursive;
    font-size: 150%;
  }

  .herStory {
    font-family: BS, cursive;
    font-size: 150%;
  }

  .his {
    padding-left: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .her {
    padding-right: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .story {
    padding-bottom: 3%;
  }

  .storySub {
    border-radius: 50px;
    border-width: 3px;
    border-style:solid;
    border-color: #D88695
    padding: 20px;
    width: 60%;
  }

  .heart {
    font-size: 25px;
  }
}


/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
/*vicki's*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .parallax {
      /* The image used */
      background-image: url("image/cPhoto2.jpg");

      /* Set a specific height */
      height: 450px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
  }

  .row {
    width: 100%;
    margin: 0px;
  }

  .menubar {
    background-color: #F9F0E0;
    height: 7%;
    width: 100%;
    position: fixed;
    display: block;
    top: 0px;
  }

  .menu {
    background-color: #F9F0E0;
    display : flex;
    align-items : center;
    height: 100%;
    top: 0px;
  }

  .glyphicon-heart {
      font-size: 15px;
      padding-left: 1%;
      padding-right: 1%;
  }

  .glyphicon-thumbs-up {
      font-size: 20px;
  }

  .tab {
    color: #D88695;
    display: block;
    font-size: 200%;
    padding-top: 1%;
  }

  .tabSpace {
    padding-right: 10px;
    padding-left: 10px;
  }

  .sideFlower {
    padding-top: 1%;
  }

  .info {
    font-size: 300%;
    height: 70%;
    width: 100%;
  }

  .infoContent {
    padding-top: 3%;
  }

  .map {
    height: 60%;
  }

  .comingSoon {
    padding-top: 25%;
    font-family: BS;
    font-size: 300%;
  }

  .gradient_one {
      border: 0;
      height: 1px;
      width: 25%;
      background: #5D9688;
      background-image: -webkit-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -moz-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -ms-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -o-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
  }

  .rsvp {
    height: 100%;
    font-size: 200%;
    font-family: 'Bad Script', cursive;
  }

  .attire {
    height: 100%;
    font-size: 100%;
    font-family: 'Euphoria Script', cursive;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5D9688;
    border: none;
    color: #F9F0E0;
    text-align: center;
    font-size: 30%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    width: 15%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20%;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 30%;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .countdown {
    font-family: BS;
    color: #D88695;
    text-align: center;
    font-size: 300%;
    padding: 5%;
  }

  .clock {
    font-size: 400%;
  }

  .centre {
    text-align: center;
  }

  .day {
    text-align: right;
  }

  .hour {
    text-align: center;
  }

  .minute {
    text-align: left;
  }

  .mainTitle {
    font-size: 200%;
  }

  .glyphicon-heart-empty {
    font-size: 20px;
  }

  .faqContent {
    font-size: 300%;
    height: 80%;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .question {
    font-size: 100%;
    font-weight: bold;
  }

  .answer {
    font-size: 80%;
  }

  .glyphicon-chevron-right {
    font-size: 15px;
    padding-left: 50%;
  }

  .hisStory {
    font-family: BS, cursive;
    font-size: 200%;
  }

  .herStory {
    font-family: BS, cursive;
    font-size: 200%;
  }

  .his {
    padding-left: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .her {
    padding-right: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .story {
    padding-bottom: 3%;
  }

  .storySub {
    border-radius: 50px;
    border-width: 3px;
    border-style:solid;
    border-color: #D88695
    padding: 20px;
    width: 45%;
  }

  .heart {
    font-size: 25px;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .parallax {
      /* The image used */
      background-image: url("image/cPhoto2.jpg");

      /* Set a specific height */
      height: 600px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .row {
    width: 100%;
    margin: 0px;
  }

  .menubar {
    background-color: #F9F0E0;
    height: 3%;
    width: 100%;
    position: fixed;
    display: block;
    top: 0px;
  }

  .menu {
    background-color: #F9F0E0;
    display : flex;
    align-items : center;
    height: 100%;
    top: 0px;
  }

  .glyphicon-heart {
      font-size: 15px;
      padding-left: 1%;
      padding-right: 1%;
  }

  .glyphicon-thumbs-up {
      font-size: 20px;
  }

  .tab {
    color: #D88695;
    display: block;
    font-size: 200%;
    padding-top: 1%;
  }

  .tabSpace {
    padding-right: 10px;
    padding-left: 10px;
  }

  .sideFlower {
    padding-top: 1%;
  }

  .info {
    font-size: 300%;
    height: 75%;
    width: 100%;
  }

  .infoContent {
    padding-top: 10%;
  }

  .map {
    height: 60%;
  }

  .comingSoon {
    padding-top: 25%;
    font-family: BS;
    font-size: 300%;
  }

  .gradient_one {
      border: 0;
      height: 1px;
      width: 25%;
      background: #5D9688;
      background-image: -webkit-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -moz-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -ms-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -o-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
  }

  .rsvp {
    height: 100%;
    font-size: 200%;
    font-family: 'Bad Script', cursive;
  }

  .attire {
    height: 100%;
    font-size: 100%;
    font-family: 'Euphoria Script', cursive;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5D9688;
    border: none;
    color: #F9F0E0;
    text-align: center;
    font-size: 30%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    width: 10%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20%;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 30%;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .countdown {
    font-family: BS;
    color: #D88695;
    text-align: center;
    font-size: 300%;
    padding: 5%;
  }

  .clock {
    font-size: 400%;
  }

  .centre {
    text-align: center;
  }

  .day {
    text-align: right;
  }

  .hour {
    text-align: center;
  }

  .minute {
    text-align: left;
  }

  .mainTitle {
    font-size: 200%;
  }

  .glyphicon-heart-empty {
    font-size: 20px;
  }

  .faqContent {
    font-size: 300%;
    height: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .question {
    font-size: 100%;
    font-weight: bold;
  }

  .answer {
    font-size: 80%;
  }

  .glyphicon-chevron-right {
    font-size: 15px;
    padding-left: 50%;
  }

  .hisStory {
    font-family: BS, cursive;
    font-size: 300%;
  }

  .herStory {
    font-family: BS, cursive;
    font-size: 300%;
  }

  .his {
    padding-left: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .her {
    padding-right: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .story {
    padding-bottom: 3%;
  }

  .storySub {
    border-radius: 50px;
    border-width: 3px;
    border-style:solid;
    border-color: #D88695
    padding: 20px;
    width: 60%;
  }

  .heart {
    font-size: 50px;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .parallax {
      /* The image used */
      background-image: url("image/cPhoto2.jpg");

      /* Set a specific height */
      height: 600px;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .row {
    width: 100%;
    margin: 0px;
  }

  .menubar {
    background-color: #F9F0E0;
    height: 3%;
    width: 100%;
    position: fixed;
    display: block;
    top: 0px;
  }

  .menu {
    background-color: #F9F0E0;
    display : flex;
    align-items : center;
    height: 100%;
    top: 0px;
  }

  .glyphicon-heart {
      font-size: 15px;
      padding-left: 1%;
      padding-right: 1%;
  }

  .glyphicon-thumbs-up {
      font-size: 20px;
  }

  .tab {
    color: #D88695;
    display: block;
    font-size: 200%;
    padding-top: 1%;
  }

  .tabSpace {
    padding-right: 10px;
    padding-left: 10px;
  }

  .sideFlower {
    padding-top: 1%;
  }

  .info {
    font-size: 300%;
    height: 75%;
    width: 100%;
  }

  .infoContent {
    padding-top: 10%;
  }

  .map {
    height: 60%;
  }

  .comingSoon {
    padding-top: 25%;
    font-family: BS;
    font-size: 300%;
  }

  .gradient_one {
      border: 0;
      height: 1px;
      width: 25%;
      background: #5D9688;
      background-image: -webkit-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -moz-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -ms-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
      background-image: -o-linear-gradient(left, #BED8D2, #5D9688, #BED8D2);
  }

  .rsvp {
    height: 100%;
    font-size: 200%;
    font-family: 'Bad Script', cursive;
  }

  .attire {
    height: 100%;
    font-size: 100%;
    font-family: 'Euphoria Script', cursive;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #5D9688;
    border: none;
    color: #F9F0E0;
    text-align: center;
    font-size: 30%;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    width: 10%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1%;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20%;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 30%;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .countdown {
    font-family: BS;
    color: #D88695;
    text-align: center;
    font-size: 300%;
    padding: 5%;
  }

  .clock {
    font-size: 400%;
  }

  .centre {
    text-align: center;
  }

  .day {
    text-align: right;
  }

  .hour {
    text-align: center;
  }

  .minute {
    text-align: left;
  }

  .mainTitle {
    font-size: 200%;
  }

  .glyphicon-heart-empty {
    font-size: 20px;
  }

  .faqContent {
    font-size: 300%;
    height: 80%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .question {
    font-size: 100%;
    font-weight: bold;
  }

  .answer {
    font-size: 80%;
  }

  .glyphicon-chevron-right {
    font-size: 15px;
    padding-left: 50%;
  }

  .hisStory {
    font-family: BS, cursive;
    font-size: 300%;
  }

  .herStory {
    font-family: BS, cursive;
    font-size: 300%;
  }

  .his {
    padding-left: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .her {
    padding-right: 3%;
    font-size: 75%;
    font-family: 'Cormorant', serif;
  }

  .story {
    padding-bottom: 3%;
  }

  .storySub {
    border-radius: 50px;
    border-width: 3px;
    border-style:solid;
    border-color: #D88695
    padding: 20px;
    width: 60%;
  }
}
